body {
	margin-bottom: 0px !important; 
	word-break: normal;
}

table.dashed-border td,table.dashed-border th{
    border: 0px;
}

/* 修复打印时表格最右边横线超出边框的问题 */
table {
    overflow: hidden;
    box-sizing: border-box;
}

span[data-hm-node]{
	color:black !important;
	background-image:none !important;
}

span[data-hm-node=textbox]{
	display: none !important;
}
[_print_underline]{
	border-bottom:1px solid !important;
}
[_print_cascade]{
	display: none !important;
}
[_underline]{
	border-bottom:1px solid !important;
}
[_print_color=red]{
	color: red !important;
}
span.fa-check-square-o[data-hm-node=checkbox][_color=red]{
    color: red !important;
}
span.fa-dot-circle-o[data-hm-node=radiobox][_color=red]{
    color: red !important;
}
[_print_datasource=none]{
	display: none !important;
}

[_paperheader]{
	background-color: white !important;
}

[_paperfooter]{
	background-color: white !important;
}
[data-hm-node] {
	background-color: white !important;
}
div.emrWidget{
	border: 0px !important;
}

div.emrWidget-content{
	outline: none !important;
}

._paragraphHide{
	display: none !important;
}